@font-face {
   font-family: 'Anglecia Pro Display';
   src: url('../assets/fonts/anjelicapro/Mint\ Type\ -\ Anglecia\ Pro\ Display\ Regular.otf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

