.header__body__left__title {
   font-family: 'Anglecia Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 90px;
   line-height: 102px;
   color: var(--main--text);
   letter-spacing: -0.005em;
}
.header__body__wrapper {
   height: max-content;
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
}
.header__body__left__subtitle {
   margin-top: -22px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 21px;
   line-height: 25px;
   line-height: 102px;
   color: var(--main--text);
}
.header__body__left {
   padding-top: 155px;
}
.header__body__left>div {
   max-width: 608px;
   width: 100%;
}

.header__body__left__subtitle__hr {
   width: 288px;
   height: 1px;
   background-color: var(--main--text);
}

.header__body__left__subtitle {
   display: flex;
   align-items: center;
   column-gap: 16px;
}

.header__body__left__toBottom__text {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.0015em;
   color: var(--brown);
}

.header__body__left__toBottom {
   margin-top: -145px;
   display: flex;
   column-gap: 14px;
   align-items: center;
}

.header__body__right  {
   width: 348px;
   height: 700px;
  background: url("../assets/images/header/photo\ 1.png");
  background-repeat: no-repeat;
  background-size: cover
}

.magazines {
   padding-top: 170px;
}
.magazines__title {
   font-family: 'Anglecia Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 75px;
   color: var(--main--text);
   text-align: center;
   letter-spacing: -0.0025em;
}
.magazines__wrapper {
   margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   column-gap: 22px;
   row-gap: 68px;
}
.magazine__desc {
   margin-top: 12px;
}
.magazine__desc__date {
   font-family: 'Anglecia Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 26px;
   line-height: 30px;
   color: var(--main--text);
}
.magazine__desc__bottom {
   margin-top: 12px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.0015em;
}

.magazine__image {
   height: 460px;
   padding: 16px;
   border: 2px solid var(--brown)
}
.magazine__image>img {
   width: 100%;
   height: 100%;
   object-fit: fill;
}
.magazine__desc__bottom img {
   margin-left: 10px;
}
.magazine__desc__bottom__read {
   color: var(--hover-red);
   text-decoration-line: underline; 
}
.magazine__desc__bottom__download {
   color: var(--brown);
   text-decoration-line: underline; 
}
.magazine__desc__bottom {
   display: flex;
   column-gap: 30px;
   margin-top: 12px;
}
.magazines .load {
   margin: 50px auto 0 auto;
}

.about {
   margin-top: 110px;
   padding: 90px 0 57px 0;
   background: #363531
}
.about__title {
   display: flex;
   align-items: center;
   column-gap: 22px
}
.about__title h3 {
   font-family: 'Anglecia Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 75px;
   color: var(--bg-color);
   letter-spacing: -0.0025em;
}
.about__title__hr {
   margin-top: 20px;
   width: 780px;
   height: 1px;
   background-color: var(--bg-color);
}
.about__desc {
   margin-top: 45px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 36px;
   color: var(--bg-color);
   text-align: justify;
   letter-spacing: 0.0015em;
}
.about__more {
   margin-top: 30px;
   align-items: center;
   column-gap: 14px;
   display: flex;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.0015em;
   color: var(--hover-red);
}
@media(max-width: 1080px) {
   .header__body__left__subtitle {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 30px;
   }
   .header__body__left__subtitle__hr {
      order: 1
   }
   .header__body__left__subtitle p {
      order: 2
   }
}

@media(max-width: 992px) {
   .header__body__left__title {
      font-size: 60px;
      line-height: 69px;
   }
}

@media(max-width: 830px) {
   .header__body__left__toBottom {
      margin-top: 24px;
      flex-direction: column;
      row-gap: 10px;
   }
   .header__body__left__toBottom__icon {
      transform: rotate(45deg);
   }
   .header__body__left__subtitle__hr {
      width: 124px;
      margin-bottom: 26px;
   }
   .header__body__right {
      width: 100%;
      height: 350px;
      background-image: url("../assets/images/header/Ana\ səhifə\ 1.png");
      background-size: 100% 100%
   }
   .header__body {
      width: 100%;
   }
   .header__body__wrapper {
      padding-top: 150px;
      width: 100%;
      flex-direction: column;
      row-gap: 20px;
   }
   
   .header__body__left__subtitle, .header__body__left__title {
      text-align: center;
   }
   .header__body__left__subtitle {
      align-items: center
   }
}
@media(max-width: 720px) {
   .magazine__image {
      height: 628px;
   }
}
@media(max-width: 620px) {
   .about__title {
      flex-direction: column;
   }
   .about__title__hr {
      width: 124px;
   }
   .about__title h3 {
      font-size: 40px;
      line-height: 56px;
   }
   .about__desc {
      font-size: 15px;
      line-height: 26px;
   }
   .header__body__right {
      margin-top: 71px;
      height: 210px ;
   }
   .header__body__left__title {
      font-size: 44px;
      line-height: 56px;
   }
   .header__body__left__subtitle {
      font-size: 16px;
      line-height: 22px;
   }
}

@media(max-width: 500px) {
   .about__more img {
      width: 60px;
      height: 60px;
      object-fit: fill;
   }
   
   .magazine__image {
      height: 428px;
   }
   .header__body__left {
      padding: 0 20px;
   }
   .header__body .container {
      padding: 0 0 ;
   }
   .magazines .load {
      width: 100%;
   }
}

@media(max-width: 340px) {
   .magazines__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   }
   .magazine__image {
      height: 300px;
   }
   .about__title h3 {
      font-size: 20px;
      line-height: 26px;
   }
   .about__desc {
      font-size: 11px;
      line-height: 20px;
      text-align: left;
   }
}