.magazines__title {
   text-align: center;
   margin-top: 1px;
}
.magazinesPage {
   padding-top: 60px;
}
.magazinesPage__filter {
   display: flex;
   align-items: center;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 22px;
   letter-spacing: 0.0015em;
}
.magazinesPage__filter select {
   margin-right: 10px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
   letter-spacing: 0.0015em;
   width: 178px;
   height: 42px;
   background: transparent;
   border: 1px solid #D6C499;
   border-radius: 3px;
}

.filter {
   margin-right: 18px;
   margin-left: 8px;
}

.magazinesPage__filter select option {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;
   color: var(--main--text);
   padding: 0 15px;
   display: flex;
   align-items: center;
   letter-spacing: 0.0015em;
}
.magazinesPage__filter select:last-child {
   width: 86px; 
}

.pagination {
   display: flex;
   justify-content: center;
   margin-top: 85px;

 }
 
 .pagination ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
 }
 .magazines__reulsts {
   margin-top: 30px;
   font-family: 'Raleway';
   font-style: normal;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.0015em;
   color: var(--main--text);
 }
 .pagination li {
   margin: 0 5px;
 }
 .pagination i {
   color: var(--brown);
 }
 .pagination a, .pagination span {
   display: block;
   padding: 5px 10px;
   color: var(--main--text);
   text-decoration: none;
   background-color: transparent;
   transition: background-color 0.3s ease;
 }
 .active__pag {
   background-color: #D6C499;;
 }
 .pagination a:hover {
   background-color:  #D6C499;

 }
 
 .pagination span {
   color: #aaa;
 }
 



@media(max-width: 350px) {
   .month {
      width: 86px !important; 
   }
}