* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   /* border: 1px solid red */
}

ul, ol {
   list-style: none
}

a {
   text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
   line-height: 0;
}
body {
   background-color: var(--bg-color);
}



:root {
   --bg-color: #FAF6EA;
   --main--text: #363531;
   --hover-red: #EA5535;
   --brown: #C3A862
}
.container {
   max-width: 1120px;
   margin: 0 auto;
}



/* navbar */
.navbar {
   padding-top: 18px;
   padding-bottom: 28px;
   background-color: var(--bg-color);
  
}
.navbar__wrapper, .navbar__links>ul, .navbar__controlls {
   display: flex;
   align-items: center;
}
.navbar__wrapper {
   justify-content: space-between;
}
.navbar__controlls {
   column-gap: 38px;
}
.navbar__links>ul {
   column-gap: 54px;
}
.navbar__links>ul>li>a, .navbar__links>ul>li {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.0015em;
   color: var(--main--text)
}

.navbar__controlls__lang {
   cursor: pointer;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: var(--main--text);
   text-transform: uppercase;
   letter-spacing: 0.0015em;
}

.navbar__controlls__lang {
   display: flex;
   align-items: center;
   column-gap: 6px
}

.sticky {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 99;
}
.dropdown {
   position: relative;
   cursor: pointer;
}
.dropdown__sub {
   opacity: 0;
   border-top: 3px solid var( --hover-red);
   width: 200px;
   position: absolute;
   top: 40px;
   left: 0;
   transition: all 0.5s;
   background-color: white;
   padding: 1px 0 21px 20px;
   visibility: hidden;
}
.dropdown__sub__active {
   opacity: 1;
   visibility: visible;
}
.dropdown__sub>ul>li {
   margin-top: 16px;
}
.dropdown__sub>ul>li>a {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: var(--main--text);
   letter-spacing: 0.0015em;
}
.dropdown__sub>ul>li>a:hover {
   color: var(--brown)
}
.navbar a {
   transition: 0.4s all;
}
.navbar a:hover, .navbar li:hover {
   color: var(--hover-red);
}
.dropdown img {
   margin-bottom: 2px;
   margin-left: 6px;
}
.navbar__controlls__lang {
   position: relative;
}
.navbar__controlls__lang__sub {
   width: 66px;
   display: flex;
   flex-direction: column;
   row-gap: 16px;
   position: absolute;
   top: 40px;
   background-color: white;
   border-top: 3px solid var( --hover-red);
   left: 0;
   padding: 17px 0 21px 20px;
   opacity: 0;
   transition: all 0.5s;
}
.navbar__controlls__lang__sub__active {
   opacity: 1;
}
.navbar__controlls__lang__sub>a {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: var(--main--text);
   letter-spacing: 0.0015em;
}
.navbar__hamburger {
   display: none;
   width: 26px;
   height: 18px; 
}
.navbar__hamburger span {
   display: block;
   height: 2px;
   width: 100%;
   background-color: var(--main--text);
}
.navbar__hamburger span:nth-child(2) {
   width: 70%;
}
.navbar__controlls__search {
   cursor: pointer;
}


.navbar__search__block {
   
   justify-content: flex-end;
   display: none;
}
.navbar__search__block__active {
   position: absolute;
   top: 30px;
   display: flex;
   right: 80px;
   padding-right: 40px;
}
.navbar__search__block>div {
   display: flex;
   align-items: flex-end;
}
.navbar__search__block__icon {
   margin-left: -30px;
}
.navbar__search__block input {
   margin-bottom: 5px;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.001em;
   color: var(--main--text);
   width: 644px;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid var(--brown);
   padding-left: 5px;
}

.navbar__search__block__exit {
   width: 32px;
   height: 32px;
   border-radius: 100%;
   background-color: var(--brown);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 46px;
}





/* mini blocks */
.custome__title {
   font-family: 'Anglecia Pro Display';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 75px;
   color: var(--main--text);
   letter-spacing: -0.0025em;
}
.load {
   width: 220px;
   height: 62px;
   background-color: var(--brown);
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.0015em;
   color: var(--bg-color);
   display: flex;
   justify-content: center;
   align-items: center;
}

@media(max-width: 1120px) {
   .container {
      padding: 0 40px;
   }
   .navbar__links>ul {
      column-gap: 30px
   }
   .navbar__search__block input {
      width: 200px;
   }
}



@media(max-width: 992px) {
   .navbar__links, .navbar__controlls__lang {
      display: none;
   }
   .navbar__hamburger {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
      margin-bottom: 5px;
   }
   
}

@media(max-width: 600px) {
   .navbar__search__block input {
      width: 150px;
   }
   .navbar__search__block__icon {
      margin-left: -23px;
   }
   .navbar__search__block__exit {
      margin-left: 10px;
     
   }
}
@media(max-width: 530px) {
   .navbar__search__block__exit {
      width: 20px;
      height: 20px;
      margin-bottom: 5px;
   }
   .navbar__search__block  {
      right: 30px;
   }
   .navbar__search__block>div  {
      margin-top: -10px;
   }
  .navbar__logo {
    width: 100px;
    height: 30px;
  }
  .navbar__logo img {
   width: 100%;
   height: 100%;
   object-fit: fill;
  }
}
@media(max-width: 468px) {
   .container {
      padding: 0 26px;
   }
}